// MIXINS


// MEDIA QUERIES

@mixin MediaLargeScreens{
	@media #{$media} and (min-width:1200px) {
	 @content
	}
}



@mixin MediaMediumScreens{
	@media #{$media} and (min-width:992px) and (max-width:1199px) {
	 @content
	}
}

@mixin MediaSmallScreens{
	@media #{$media} and (min-width:768px) and (max-width:991px) {
	 @content
	}
}

@mixin MediaMobileScreens{
	@media #{$media} and (max-width:767px) {
	 @content
	}
}



@mixin header_height{height:$header-height;}

@mixin border_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

@mixin font-face($name, $url) {
  @font-face {
    font-family: #{$name};
    src: url('#{$url}.eot');
    src: url('#{$url}.eot#iefix') format("embedded-opentype"),
         url('#{$url}.ttf') format('truetype'),
         url('#{$url}.svg##{$name}') format('svg'),
         url('#{$url}.woff') format('woff');    
    @content;
  }
}

@mixin font_family($fname){
	font-family: $fname;
}


@mixin search{
$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.6s;

.search-icon {
  
	height: 3px;
    width: 20px;
    display: block;
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    padding-top: 8px;
    z-index: 150;
    margin-right: 10px;
}
.circle {
  position: relative;
  display: block;
  height: 14px;
  width: 14px;
  background-color: $bg-color;
  border-radius: 70px;
  z-index:0;
  border: 2px solid $cor-black;

  transition: all $duration $easing;
  z-index: 1;
}

.handle {
 position: absolute;
    background-color: #ffffff;
    top: 22px;
    left: 7px;
    width: 16px;
    height: 2px;
    display: block;
    transform: rotate(45deg);
    float: right;
    border-radius: 2px;
  &:after {
    content:"";
    background-color:$cor-black;
    width: 18px;
    height: 2px;
    display: block;
    float: right;
    border-radius: 2px;
    transition: all $duration $easing;
    z-index: -1;
  }
}

.open {
  .circle {
    transform: scale(.02);
    transform-origin: 30% 40%;
    background: $cor-black;
    border-color:$cor-black;
  }
  .handle:after {
    transform-origin: center center;
    transform: rotate(90deg);
  }
}
}
@mixin placeholder($color){
-webkit-input-placeholder {
   color: $color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $color;  
}

:-ms-input-placeholder {  
   color: $color;  
}
}


@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}






     