//VARIAVEIS

//********* Cores

// Vermelho  #b71d29
// Azul  #29bbb3
// Beje  #edecd6
// Castanho  #7d6949
// Preto  #0b0e16

$cor-red: #b71d29; 
$cor-blue:#29bbb3;
$cor-beje: #edecd6;
$cor-brow: #7d6949;
$cor-black: #0b0e16;



$bg-color:#ffffff;

// altura do menu top
$header-height:70px;


//********* Grelha

$grid_columns:           12 !default; // definiçao do numero de colunas
$grid_gutter_width:      20px !default; // espaço entre colunas	

$desktop-width: 1200px;
$tablet-width: 960px;
$movel-width: 480px;

$media:  screen !default; // -- media queries media "screen or print"

// Filtro de cizentos para as fotos de coleção
$grayscale_value: 90%;

