/* 

	PROJECTO: MUSEU FBAUP;
	VERSÃO: 0.1;
*/



@import "_partials/variaveis";

@import "_partials/mixins";
@import "_partials/reset";
@import "_partials/grelhas";
@import "_partials/tipografia";


body{
	@include border_box;
	background: #FFF;
}
.overNone{
		overflow-y: hidden;
	}

.search_oberlay{
	z-index:100;
	position:fixed;
	background:rgba(255,255,255,0.9);
	height:100vh;
	width:100vw;
	overflow-y:hidden;
	display:none;
	 -webkit-transition: all 0.5s ease-in;

	.search {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    color:$cor-black;
	    background:none;
	    font-size: 60px;
	    font-weight: 300;
	    text-align: center;
	    border: 0px;
	    margin: 0px auto;
	    margin-top: -51px;
	    padding-left: 30px;
	    padding-right: 30px;
	    outline: none;
	}
		.search::-webkit-input-placeholder {
		   color: $cor-black;
		   float: left;
		}

		.search:-moz-placeholder { /* Firefox 18- */
		   color: $cor-black;  
		}

		.search::-moz-placeholder {  /* Firefox 19+ */
		   color: $cor-black;  
		}

		.search:-ms-input-placeholder {  
		   color: $cor-black;  
		}
		
	

}


header{
	z-index:100;
	width:100%;
	position:fixed;
	top:0;
	display:block;
	background:$header-color;
	@include header_height;



	.logo img{
		width: 200px;
		margin-top: 10px;
	}
	 

	.menu{
		margin: 0px;
		float:right;
		nav{
			@include header_height;
			margin: 0px;
			margin-top: 8px;
			//margin-top:$header-height/2-$font-size-base;
			ul {
			  
			  display: block;
			  margin: 0 -15px;
			  list-style: none;
			  text-align: center;
			  float:right;
			

				li {
				  display: inline-block;
				  	a{
				  		text-decoration: none;
				  		color:$cor-black;
				  		margin: 15px 20px;
						display: block;
						@include font_family($font-family-serif-buttler-medium);
						font-size: floor(($font-size-base * 1.26));
				  	}
				  	ul.dropdown-list{
				  		width: 200px;
				  		position: absolute;
				  		background-color:$header-color;
				  		z-index: 100;
				  		display: none;
				  		top:$header-height;

				  		li{
				  			float:left;
				  			width:100%;
				  			text-align:left;
				  			

				  			 &:hover {
				  			 	background-color:darken($header-color, 2%);
				  			}

				  			a{
				  				margin-left:32px;
				  			}
				  		}
				  	}
				  .button-searc{
				  	height: 40px!important;
				  }	
				}
				.search{
				float:right;
				@include search;
				}
			}	

		}	
	}

	// .mobile-nav{
	// 	position:fixed;
	// 	background-color:darken($header-color, 2%);
	// 	left: 0;
	// 	top: 0;
	// 	height: 100%;
	// 	width: 100%;
	// }	
}
@include MediaMobileScreens{
	header{
		.logo img{
			width: 170px;
			margin-top: 20px;
		}
	}
}		 
	
section{
	width:100%;
	position:relative;
	display:block;

	.page-title{
		text-align:center;
		h1{
			@include font_family($font-family-serif-buttler-medium);
			//font-family: $font-family-sans-PN-bold;
			font-size: $font-size-h1;
			font-variant:small-caps; //FEIOOO
		}	
	}
}

section#header-bg-big{
 	width: 100vw;
	height:100vh;
	//background-color:black;
	/*
 	.header-img {
 	 width: 100%;
	  height:100vh;
	  //background-color:black;
	  background-image:'img/capa_img.png';
	}*/
	.header-img {
		  position: relative;
		  width: 100%;
		  height: 100%;
		  overflow: hidden;
		
		img {
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  // height: 100%;
		  width: 100%;
		  -webkit-transform: translate(-50%,-50%);
		      -ms-transform: translate(-50%,-50%);
		          transform: translate(-50%,-50%);
		}
		.pic-caption{
			@include font_family($font-family-serif-buttler-stencil);
		    position: absolute;
		    color: white;
		    top: 400px;
		    left: 200px;
		}
	}
}

section#header-bg-small{
 	width: 100vw;
 	.header-img{
		  position: relative;
		  width: 100%;
		  height: 400px;
		  overflow: hidden;
		
		img {
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  // height: 100%;
		  width: 101%;
		  -webkit-transform: translate(-50%,-50%);
		      -ms-transform: translate(-50%,-50%);
		          transform: translate(-50%,-50%);
		}
		.pic-caption{
		    position: relative;
		    color: white;
		    top:330px;
		    left: 0px;

		    h1{
		    	font-size: 90px;
		    	letter-spacing: 24px;
		    	//text-transform: uppercase;
		    	font-variant: small-caps;
		    }
		}
	}
}

section#expo{
	margin-top: 150px;
	position:relative;
	@include expositor;
		
}

section#exposicoes{
	position:relative;
	margin-top: 80px;
	@include expositor;
		
}


section#colecao{
	margin-top: 150px;
	 position:relative;

	.montra-colecao{
		height: 500px;
		padding-bottom:40px; 
		.col-colecao{
				background:$cor-black;
				float: left;
				width: 18.111%;
				height: 450px;
				margin: 10px 21.2px;
				position:relative;
				max-width: 200px;

					.grayscale {
					      width: 100%;
					      height:100%;
					      max-width: 200px;
					   	  @include grayscale_element(0);
					}
				&:hover {
					        @include grayscale_element(#{$grayscale_value});
					        //background-color: rgba(183,29,41,1);
					        background-color:rgba(183,29,41,0.4);
							//background: @include filter-gradient($cor-red, $cor-red, horizontal);
							//background: @include background-image(linear-gradient(left, rgba(183,29,41,0.4);) 0%, rgba(183,29,41,0.4); 100%));

					    }	
				&:hover span{
					content: "";
					position:absolute;
					width: 100%;
					height:100%; 
					top:0px;
					background-color:rgba(183, 29, 41, 0.5);
					
				}	    
				@include colecao_headings;
		}

		.col-colecao:last-child{
			float: right;
			margin-right: 0px;
		}	

		.col-colecao:first-child{
			margin-left: 0px;
		}

		@include MediaMediumScreens{
			.col-colecao{
				margin: 10px 11px;
			}
		}
	}

	@include MediaSmallScreens{
			.montra-colecao{
				display: none;
			}	
	}
	@include MediaMobileScreens{
			.montra-colecao{
				display: none;
			}	
	}		
	
}

section#grelha-colecao{
	margin-top:80px;
	position:relative;

	.container>.grelha{
		width: 100%;
		.item>.footnotes p{
			margin-top: 10px;
			font-size: 10px;
			color: $colecao-legenda;
			font-family: $font-family-sans-PN-light;
		}
	}	
}


section#sobremuseu{
	padding-top: 80px;
	@include block_text;

	@include heading_four_ss;
	
	@include paragraph_ss;

	em{
		@include font_family($font-family-sans-PN-lightitalic);
		font-size: 20px;
		text-indent: 15px;
	}	

	.first {
		text-indent: initial;
	}
}


section#localizacao{
	@include block_text;

	@include heading_four_ss;
	
	*{
		line-height: 25px;
		text-indent: initial;
	}
	
	dt{
		@include font_family($font-family-sans-PN-regular);
		font-size: 17px;					
		text-align:left;
		color: #000000;
	}

	dd{
		@include font_family($font-family-sans-PN-light);
		font-size: 15px;		
		text-align:left;
		color: #000000;
		text-align:left;
	}	

	#map{
		width: 100%;
		height: 300px;
		margin-bottom: 0px;
	}

	
}

footer{
	  clear: both;			
	text-align:left; 
	color:white;
	background-color:$cor-red;
	display:block;
	position: relative;	
    //margin-top: 60px;
    margin-bottom: 0px!important;
    padding-top:20px;
    height: auto;
    padding-bottom: 35px;
    //bottom:0px;

    div[class*="col-"]{
    	margin: 0 15px;
    	 @include footer_Text;
    	 a{
    	text-decoration:none;
    	color: white;
    }
    }
   

    
}
