/* 

	PROJECTO: MUSEU FBAUP;
	VERSÃO: 0.1;
*/



@import "_partials/variaveis";

@import "_partials/mixins";
@import "_partials/reset";
@import "_partials/grelhas";
@import "_partials/tipografia";

body{
	@include border_box;
	background: #FFF;
}
.overNone{
		overflow-y: hidden;
	}

.search_oberlay{
	z-index:100;
	position:fixed;
	background:rgba(255,255,255,0.9);
	height:100vh;
	width:100vw;
	overflow-y:hidden;
	display:none;
	 -webkit-transition: all 0.5s ease-in;

	.search {
	    position: absolute;
	    top: 50%;
	    width: 100%;
	    color:$cor-black;
	    background:none;
	    font-size: 60px;
	    font-weight: 300;
	    text-align: center;
	    border: 0px;
	    margin: 0px auto;
	    margin-top: -51px;
	    padding-left: 30px;
	    padding-right: 30px;
	    outline: none;
	    @include placeholder($cor-black);
	}


}


header{
	z-index:100;
	width:100%;
	position:fixed;
	top:0;
	display:block;
	background:$bg-color;
	@include header_height;



	.logo img{
		width: 200px;
		margin-top: 10px;
	}

	.menu{
		margin: 0px;

		nav{
			@include header_height;
			margin: 0px;
			margin-top: 1px;
			//margin-top:$header-height/2-$font-size-base;
			ul {
			  
			  display: block;
			  margin: 0 auto;
			  list-style: none;
			  text-align: center;
			  float:right;
			}

			li {
			  display: inline-block;
			  	a{
			  		text-decoration: none;
			  		color:$cor-black;
			  		margin: 15px 20px;
					display: block;
					@include font_family($font-family-serif-buttler-medium);
					font-size: floor(($font-size-base * 1.26));
			  	}
			  	
			}
			.search{
				float:right;
				@include search;
			}	
		}	
	}		
}
	
section{
	width:101%;
	// position:relative;
	display:block;

	.page-title{
		text-align:center;
		h1{
			@include font_family($font-family-serif-buttler-medium);
			font-size: $font-size-h1;
		}	
	}
}
// section#header-bg{
// 		 width: 100%;
// 		 height: 600px;

// 		 .header-img {
// 			  // position: absolute; 
// 			   top: -50%; 
// 			   left: -50%; 
// 			   width: 100vw;
// 		 		height: 100vh;
			
// 			img {
// 				width:100%;
// 			  // position: absolute; 
// 			  	top: -50%; 
// 			   left: -50%;
// 			  // right: 0; 
// 			  // bottom: 0; 
// 			  // margin: auto; 
// 			  // min-width: 50%;
// 			  // min-height: 50%;
// 			}
// 		}
	
// }
 section#header-bg{
 	width: 100%;
	height:100vh;
	//background-color:black;

 	.header-img {
 	 width: 100%;
	  height:100vh;
	  //background-color:black;
	  background-image:'img/capa_img.png';
	}
 }

section#expo{
	margin-top: 150px;
	position:relative;

	.expositor{
		//width: 850*0.085%;
		height: 200px;
		background:#ededad;
		margin: 0 auto;
		float: none;
		margin:15px 0;
	}
}


section#colecao{
	margin-top: 150px;
	 position:relative;

	.montra-colecao{
		height: 500px;
		padding-bottom:40px; 
		.col-colecao{
				background:$cor-black;
				float: left;
				width: 18.111%;
				height: 450px;
				margin: 10px 11px;
				position:relative;
				max-width: 200px;

					.grayscale {
					      width: 100%;
					      height:100%;
					      max-width: 200px;
					   	  @include grayscale_element(0);
					}
				&:hover {
					        @include grayscale_element(#{$grayscale_value});
					        //background-color: rgba(183,29,41,1);
					        background-color:rgba(183,29,41,0.4);
							//background: @include filter-gradient($cor-red, $cor-red, horizontal);
							//background: @include background-image(linear-gradient(left, rgba(183,29,41,0.4);) 0%, rgba(183,29,41,0.4); 100%));

					    }	
				@include colecao_headings;
		}
	}	
}

footer{
	text-align:left; 
	color:white;
	background-color:$cor-red;
	display:block;
	position: absolute;	
    margin-top: 60px;
    margin-bottom: 0px!important;
    padding-top:20px;
    height: auto;
    padding-bottom: 35px;

    @include footer_Text;

}
