//----------- VARIAVEIS
	
	// TAMANHOS DE ECRÃS

 	$desktop-width: 960px;
    $tablet-width: 768px;
    $mobile-portrait-width: 300px;
    $mobile-landscape-width: 420px;


    $num-colunas: 12;
    $margem: 10px;
    $padding: 30px;

// ----------- FUNÇÔES

 @function calculo-column-width($num: 1, $width: $desktop-width) {
        @return ((($num * ($width / $num-colunas)) - (2 * $margem))*100%)/$desktop-width; }


//----------- MIXINS
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }

@mixin clearfix {
    zoom: 1;
    &:after { clear: both; }
    &:before, &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0; } 
}

 @mixin column {
        float: left;
        display: block
        margin-top:$margem /2;
        margin-bottom:$margem /2;
        margin-left: $margem;
        margin-right: $margem,;
        position: relative;
	   	min-height: 1px;
	    padding-right: $padding;
	    padding-left: $padding;
       // @media only screen and (max-width: $medMaxWidth ) { margin: 0; }
 }

 @mixin row {
        @include clearfix;
        margin-bottom: 2 * $margem; 
    }




//--------------- 


/* Prevenção de adição ou subtração de margens ou paddings relativamente às colunas*/
*, *:before, *:after {
	margin: 0;
    padding: 0;
  @include border-box;
 } 

.container{
	width:95%;
	margin:0 auto;
}

.row{
 	@include row;
 	width: calculo-column-width($num-colunas, $desktop-width);
}
//($num * ($width / $num-columns)) - (2 * $margin)

@for $num from 1 through $num-colunas {
 
    .coluna-#{$num} { 
    	//mixin da coluna..
    	@include  column;
    	//calculo da percentgem de largura de cada coluna.
    	width: calculo-column-width($num, $desktop-width);
     }
 }
