/* 	SASS GRID 	*/

// Variáveis

$grid_columns:           12 !default //number of columns

$grid_gutter_width:      20px !default // space between columns

$column-padding:    10px !default // space inside the columns


$desktop-width:         1024px!default;

// Breakpoint sizes from px to ems. Add more values here to add more breakpoints.
// Change names if you prefer, it wont break the mixin as long as they are strings not just numbers.

// Funções
	  /* ### CALCULO DA LARGURA DA COLUNA 
            @param num -  numero de colunas - default 1
            @param width -  largura do ecrã -  default var $desktop-with
            Esta função calcula de forma matemática em percentagem a largura das colunas css
    */
	 @function calculo-column-width($num: 1, $width: $desktop-width) {
	        @return ((($num * ($width / $grid_columns )) - (2 * $grid_gutter_width))*100%)/$desktop-width; }




// Mixins
@include mixin.scss;

@mixin alpha { margin-left: 0; }
@mixin omega { margin-right: 0; }

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

@mixin column {
        float: left;
        display: inline-block
        position: relative;
	   	min-height: 1px;
	    
        @mixin breakpoints(lg){
            padding-right: $column-padding;
            padding-left: $column-padding;
            margin:$grid_gutter_width:  /2;

        }
        @mixin breakpoints(md){
            padding-right: $column-padding;
            padding-left: $column-padding;
            margin:$grid_gutter_width:  /3;

        }
 }





// CSS
    /* Prevenção de adição ou subtração de margens ou paddings relativamente às colunas*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
  @include border-box;
 } 


// - - -  Colunas  

@for $num from 1 through $grid_columns {
 
    .coluna-#{$num} { 
        //mixin da coluna..
        @include  column;
        //calculo da percentgem de largura de cada coluna.
        width: calculo-column-width($num, $desktop-width);
     }
 }