// Tipografia

//## Fonte: Buttler
	@include font-face('butlerregular','fonts/Butler/butler_regular-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('butlerbold','fonts/Butler/butler_bold-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('butlermedium','fonts/Butler/butler_medium-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('butler_stencilblack','fonts/Butler/butler_black_stencil-webfont'){
		font-weight: normal;
   		font-style: normal;
	}

//## Fonte: Proxima Nova

	@include font-face('proxima_nova_rgregular','fonts/ProximaNova/proxima_nova_regular-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('proxima_novaregular_italic','fonts/ProximaNova/proxima_novaregular_italic'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('proxima_novalight','fonts/ProximaNova/proxima_nova_light-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('proxima_novalight_italic','fonts/ProximaNova/proxima_nova_light_italic-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('proxima_nova_rgbold','fonts/ProximaNova/proxima_nova_bold-webfont'){
		font-weight: normal;
   		font-style: normal;
	}
	@include font-face('proxima_nova_rgbold_italic','fonts/ProximaNova/proxima_nova_bold_italic-webfont'){
		font-weight: normal;
   		font-style: normal;
	}

	
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

	$font-family-sans-PN-regular:  "proxima_nova_rgregular", Helvetica, Arial, sans-serif !default;
	$font-family-sans-PN-regularitalic:  "proxima_novaregular_italic", Helvetica, Arial, sans-serif !default;
	$font-family-sans-PN-bold:  "proxima_nova_rgbold", Helvetica, Arial, sans-serif !default;
	$font-family-sans-PN-bolditalic:  "proxima_nova_rgbold_italic", Helvetica, Arial, sans-serif !default;
	$font-family-sans-PN-light:  "proxima_novalight", Helvetica, Arial, sans-serif !default;
	$font-family-sans-PN-lightitalic:  "proxima_novalight_italic", Helvetica, Arial, sans-serif !default;

	$font-family-serif-buttler-regular:       "butlerregular",Georgia, "Times New Roman", Times, serif !default;
	$font-family-serif-buttler-bold:       "butlerbold",Georgia, "Times New Roman", Times, serif !default;
	$font-family-serif-buttler-medium:       "butlermedium",Georgia, "Times New Roman", Times, serif !default;
	$font-family-serif-buttler-stencil:       "butler_stencilblack",Georgia, "Times New Roman", Times, serif !default;





$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$i: 1;

@each $size in $font-size-h1,$font-size-h2,$font-size-h3,$font-size-h4,$font-size-h5,$font-size-h6{
    h#{$i} { 
        font-size: $size;
        font-weight: normal;
   		font-style: normal;
     }
     $i: $i + 1;
}

				

@mixin colecao_headings{

			h2{
					@include font_family($font-family-serif-buttler-bold);
					display: block;
					font-size: 65px;
					transform: rotate(-90deg);
					position: relative;
    				bottom: 150px;
    				vertical-align: text-bottom;
    				text-align:left;
    				color: white;
    				left: 60px;
    				@include clearfix;
    		}

    		a{
    			text-decoration: none;
    		}
}

@mixin expositor_headings{
			h2{
					@include font_family($font-family-serif-buttler-bold);
					display: block;
					font-size: 60px;					
					position: relative;
    				text-align:left;
    				color: white;
    				margin-left: 20px;
    				bottom: 182px;
    				overflow: hidden;
    				text-overflow:ellipsis;
    				white-space: nowrap;
    				margin-bottom: 10px;
    				
    		}

    		h3{
					@include font_family($font-family-sans-PN-regularitalic);
					display: block;
					font-size: 24px;					
					position: relative;
    				vertical-align: text-bottom;
    				text-align:left;
    				color: white;
    				margin-left: 20px;
    				bottom: 175px;
    				line-height: 30px;
    				letter-spacing: 1px;
    		}

    		a{
    			text-decoration: none;
    		}

    		@include MediaMediumScreens{
    			h2{
    				font-size: 56px;
    			}
    			h3{ 
    				font-size:21px;
    			}
			} 
			@content;
			// @include MediaSmallScreens{
   //  			h2{
   //  				font-size: 46px;
   //  			}
   //  			h3{ 
   //  				font-size:19px;
   //  			}
			// } 
   //  		@include MediaMobileScreens{
   //  			h2{
   //  				font-size: 36px;
   //  			}
   //  			h3{ 
   //  				font-size:17px;
   //  			}
			// } 
			
}
@mixin footer_Text{

	h2.museu{
		@include font_family($font-family-serif-buttler-stencil);
		text-transform: uppercase;
		letter-spacing: 7px;
		font-weight: 400;
		font-size: 22px;
		line-height: 48px;
   }
   h3{
   		@include font_family($font-family-serif-buttler-regular);
   		letter-spacing: 1.5px;
   		font-size: 22px;
   		line-height: 49px;
   		font-variant: small-caps;
   }

   ul li a {
   	   	@include font_family($font-family-sans-PN-light);
   	   	text-align:left;
   	   	line-height: 22px;
   	   	font-size: 13px;
   	   	letter-spacing: 0.5px;

   }
}

@mixin heading_four_ss{
	h4 {
			@include font_family($font-family-sans-PN-regular);
			font-size: 35px;					
			text-align:left;
			color: #000000;
			line-height: 45px;
			padding-bottom:15px;
		}
}
@mixin heading_five_ss{
	h5 {
			@include font_family($font-family-sans-PN-regular);
			font-size: 27px;					
			text-align:left;
			color: #000000;
			line-height: 25px;
			padding-bottom:15px;
		}
}
@mixin heading_six_ss{
	h6 {
			@include font_family($font-family-sans-PN-regular);
			font-size: 21px;
			text-align:left;
			color: #000000;
			line-height: 25px;
			padding-bottom:15px;
			letter-spacing: 0,5px;
		}
}
@mixin paragraph_ss {
	p{
			@include font_family($font-family-sans-PN-light);
			font-size: 17px;					
			text-align:left;
			color: #000000;
			line-height: 30px;
			text-align:left;
			text-indent: 15px;
			padding-top: 15px;
		}
}

@mixin block_text{
	.block-text{
		width:70%;
		margin:0 auto;
		padding-top: 50px;
	}
}	
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


 